* {
    border: 1px solid red;
}

html, body {
    margin: 0px;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;

}

nav {
    background-color: pink;
    height: 30px;
}

.content {
    background-color: aquamarine;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace {
    background-color: white;
    width: 640px;
    height: 640px;
    display: grid;
}